.game_play_body{
    display: flex;
}

.game_play-main{
    height : 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding : 5vh 0%;
    align-items: center;
    background-color: var(--main-white);
    
}

.episode_logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid var(--main-gray);
    margin-bottom: 3vh;
}

.text_view{
    width: 50%;
    min-width: 600px;
    height: 60vh;
    display: grid;
    grid-template-rows: 30% 70%;
    border-top : 5px solid var(--main-gray);
    border-bottom :5px solid var(--main-gray);
    border-radius: 1%;
    overflow: overlay;
    -ms-overflow-style: none;
}

/* 스크롤바 제거 */
.text_view::-webkit-scrollbar{
    display:none;
  }

.text_view-header{
    grid-row: 1/1;
    width: 100%;
    display: grid;
    grid-template-columns : repeat(5, 20%);
}

.text_view-main{
    grid-row: 2/2;
    width: 100%;
    padding: 0% 20px;
}


.episode_number{
    grid-column: 1/1;
    padding-top: 10px;
}

.episode_number_text{
    padding: 10px;
}

.episode_name{
    text-align: center;
    grid-column : 2/5;
    font-size: max(2vw,30px);
    padding-top: max(2vw,30px);
    padding-bottom: max(4vw,50px);
}


.episode_text{
    width: 100%;
    line-height: 30px;
    text-align: left;
}

.episode_option{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width : 100%;
    display: flex;
    flex-direction: column;
}

.option_div{
    width : 100%;
    height: auto;
    padding : 5px 5px;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    cursor: pointer;
}

@keyframes hover_line {
    0% {  
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    100% { 
        border-bottom: 1px solid var(--main-blue); 
        /* 아무 색깔 사용함 */
    }
}

.option_div:hover{
    animation: hover_line 0.3s forwards; 
}
.game_play-main_ui{

}

.game_play-left_ui{
    width: 25vw;
}

.game_play-right_ui{
    width: 25vw;
}

.hidden{
    display : none;
}
