@font-face{
    src: url("../../../fonts/SF함박눈TTF.ttf");
    font-family: "hambak";
}
@font-face{
    src: url("../../../fonts/HeirofLightBold.ttf");
    font-family: "gameBold";
}
@font-face{
    src: url("../../../fonts/HeirofLightRegular.ttf");
    font-family: "gameRegular";
}

.font-hambak{
    font-family: "hambak";
}
.font-game-thick{
    font-family: "gameBold";
}
.font-game-thin{
    font-family: "gameRegular";
}